<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.miui.toolbox"
    android:versionCode="22"
    android:versionName="1.2.2" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.ToolboxTabPagerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BatteryCalibrationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.AndroidIDToolActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.MountLogActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name="us.miui.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="us.miui.receiver.MountReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="MountReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service
            android:name="us.miui.service.AdbWifiService"
            android:enabled="true" />
        
        <service
            android:name="us.miui.service.LogcatService"
            android:enabled="true" />
        
        <receiver
            android:name="us.miui.provider.AdbWifiWidgetProvider"
            android:icon="@drawable/widget_adb_on"
            android:label="ADB WiFi Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="us.miui.toolbox.ADB_WIFI_STATE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/adb_widget_info" />
        </receiver>
        <receiver
            android:name="us.miui.provider.AdbWifiWidget2ColProvider"
            android:icon="@drawable/widget_adb_on"
            android:label="ADB WiFi Detailed" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="us.miui.toolbox.ADB_WIFI_STATE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/adb_widget_info_2col" />
        </receiver>

        <provider
            android:name="us.miui.provider.FileProvider"
            android:authorities="us.miui.toolbox"
            android:exported="true" />

        <activity
            android:name=".LogcatActivity"
            android:label="@string/title_activity_logcat" >
        </activity>
    </application>

</manifest>